{% extends "base.html" %}
{% block head %}
<title>Add Student</title>
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST">
        <div class="tab">
            <p>Name</p>
            <input type="text" id="name" name="name" value="">
        </div>
        <div class="tab">
            <p>Class</p>
            <select id="class" name="class" required>
                <option value="">Select Class</option>
                {% for class1 in classes %}
                    {% if class1!="all" %}
                        <option value="{{class1}}">{{class1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="tab">
            <p>Age</p>
            <input type="number" id="age" name="age" value="">
        </div>
        <div class="tab">
            <p>Fee Details</p>
            <select id="fee" name="fee">
                <option value="">Select Option</option>
                <option value="Paid">Paid</option>
                <option value="Unpaid">Unpaid</option>
            </select>
        </div>
        <div class="tab">
            <p>Gender</p>
            <select id="gender" name="gender">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit">Save Values</button>
    </form>
</div>
{% endblock %}
